@{
    Layout = null;
}
@model string;

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/parts/Login.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="container">
            <h1 class="logo">
                SHAN CLOTHING
            </h1>

            <h2 class="headline">
                Сброс пароля
            </h2>

            <form asp-controller="Account" asp-action="SendPasswordResetEmail" method="post" class="form">

                <div class="form__line">
                    <div class="form__group">
                        <input type="email" name="userEmail" placeholder="Email">
                        <p class="form__help"></p>
                    </div>
                </div>

                <div class="form__keys">
                    <a asp-controller="Home" asp-action="Index" class="form__link">Назад</a>
                    <button type="submit" class="form__btn">Готово</button>
                </div>

            </form>  
        </div>
    </div>
</body>
</html>
